Automat==20.2.0
  - attrs [required: >=19.2.0, installed: 20.1.0]
  - six [required: Any, installed: 1.15.0]
constantly==15.1.0
Django==3.1
  - asgiref [required: ~=3.2.10, installed: 3.2.10]
  - pytz [required: Any, installed: 2020.1]
  - sqlparse [required: >=0.2.2, installed: 0.3.1]
hyperlink==20.0.1
  - idna [required: >=2.5, installed: 2.10]
incremental==17.5.0
mysqlclient==2.0.1
Pillow==7.2.0
pipdeptree==1.0.0
  - pip [required: >=6.0.0, installed: 20.2.2]
pipreqs==0.4.10
  - docopt [required: Any, installed: 0.6.2]
  - yarg [required: Any, installed: 0.1.9]
    - requests [required: Any, installed: 2.24.0]
      - certifi [required: >=2017.4.17, installed: 2020.6.20]
      - chardet [required: >=3.0.2,<4, installed: 3.0.4]
      - idna [required: >=2.5,<3, installed: 2.10]
      - urllib3 [required: >=1.21.1,<1.26,!=1.25.1,!=1.25.0, installed: 1.25.10]
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
  - cryptography [required: >=2.8, installed: 3.0]
    - cffi [required: >=1.8,!=1.11.3, installed: 1.14.2]
      - pycparser [required: Any, installed: 2.20]
    - six [required: >=1.4.1, installed: 1.15.0]
  - six [required: >=1.5.2, installed: 1.15.0]
service-identity==18.1.0
  - attrs [required: >=16.0.0, installed: 20.1.0]
  - cryptography [required: Any, installed: 3.0]
    - cffi [required: >=1.8,!=1.11.3, installed: 1.14.2]
      - pycparser [required: Any, installed: 2.20]
    - six [required: >=1.4.1, installed: 1.15.0]
  - pyasn1 [required: Any, installed: 0.4.8]
  - pyasn1-modules [required: Any, installed: 0.2.8]
    - pyasn1 [required: >=0.4.6,<0.5.0, installed: 0.4.8]
zope.interface==5.1.0
  - setuptools [required: Any, installed: 41.2.0]
