    {% block footer %}
    <footer>

      <div class="row">

          <div class="twelve columns">
    {% include 'html_common/socials.html' %}
	{% block social %}
	{% endblock social %}
          </div>
            <ul class="copyright">
               <li>&copy; Copyright {% now 'Y' %} Viktor Krňan</li>
               <li>Design by CeeVee @ <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->
   {% endblock footer %}